body{
    background:url(../img/03.png)repeat;
    background-size:150px;
}
div{
    background-color: none;
    border:2px solid aqua;
    color: #fff;
}
.nav-main{
    margin: 6em;
    
    padding-top:5px;
    text-align: center;
}
/*一列四格，且縮到一定尺寸自動切換成3/2，會自動換行，圖片大小不變   <---grid */
.nav-main img{
    object-fit: contain;
    width: 20%;
}
.nav-text{
    
}